Source: ros-foxy-rpyutils
Section: misc
Priority: optional
Maintainer: Jacob Perron <jacob@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-foxy-ament-copyright, ros-foxy-ament-flake8, ros-foxy-ament-pep257, ros-foxy-ament-xmllint, ros-foxy-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-rpyutils
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-foxy-ros-workspace
Description: Package containing various utility types and functions for Python
